name: Code formatter and linter

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install Dependencies
        run: |
          python -m pip install -U pip
          pip install uv
          uv sync
      - name: Format with isort and black
        run: |
          uv run isort ./
          uv run black ./
      - name: Linting with ruff
        run: |
          uv run ruff check ./
      - name: Type Checking with pyright
        run: |
          uv run pyright ./
